{% load static %}
<!DOCTYPE html>
<html>
<head>
	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel='stylesheet' type='text/css' href="{% static 'blog/main.css' %}">


	{% if title	%}
	<title>Connor Spear</title>
	{% else %}
	<title>Connor Spear</title>
	{% endif %}
</head>
<body>
	<header class="site-header">
	  <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
	    <div class="container">
	      <a class="navbar-brand mr-4" href="{% url 'blog-home' %}">Connor Spear</a>
	      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
	      <span class="navbar-toggler-icon"></span>
	      </button>
	      <div class="collapse navbar-collapse" id="navbarToggle">
	        <div class="navbar-nav mr-auto">
	        </div>
	        <!-- Navbar Top -->
	        <div class="navbar-nav">
	          <a class="nav-item nav-link mx-3" href="{% url 'blog-about' %}">About</a>
	          <a class="nav-item nav-link mx-3" href="{% url 'blog-about' %}">Experience</a>
	          <a class="nav-item nav-link mx-3" href="{% url 'blog-about' %}">Skills</a>
	        </div>
	      </div>
	    </div>
	  </nav>
	  <div class="top-field">
		<div class="container">

		  <h1 class="display-5">WHAT I LIKE TO DO</h1>
		</div>
	  </div>
		<div class="jumbotron jumbotron-fluid">
			<div class="container">
				<h1 class="display-3"><strong>ABOUT</strong></h1>
					<hr class="my-4">
					<p class="description-lead">Hello and welcome to my site! As you can probably tell this is definitely WIP and forever evolving.
						The purpose of this site is to showcase my skills and learn a new framework, while also showing you my accolades and achievements.
						This site is created using the <a href="https://www.djangoproject.com/">django project</a> framework. Therefore,
						I have developed this site using HTML, CSS and and some JavaScript to run the front end, and Python taking control of the backend.
						For version control and deployment of any updates, I have used Git, you can check out this source code on Github.<!-- Link github here-->
					</p>
			</div>
		</div>
		<div class="jumbotron text-center">
		  <h1 class="display-4"><strong>PERSONAL EXPERIENCE</strong></h1>
		    <hr class="my-4">
		  	 <div class="card-deck">
			  <div class="card">
			    <img src="{% static 'pics/project.jpg' %}" class="card-img-top" alt="project icon">
			    <div class="card-body">
			      <h5 class="card-title">My projects</h5>
			      <p class="card-text">Over my time as a programmer and computer scientist I have completed the following projects.</p>
			      	<!-- Button trigger modal -->
					<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
					  Projects
					</button>
					<!-- Modal -->
					<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
					  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
				       <div class="modal-content">
					    <div class="modal-header">
					     <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
					      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
					       <span aria-hidden="true">&times;</span>
					        </button>
					      	 </div>
					      	  <div class="modal-body">
					       	   <p>Text goes here</p>
					      	  </div>
					  	     <div class="modal-footer">
					        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					      </div>
					    </div>
					  </div>
					</div>
			    </div>
			  </div>
			  <div class="card">
			    <img src="{% static 'pics/study.jpg' %}" class="card-img-top" alt="Study icon">
			    <div class="card-body">
			      <h5 class="card-title">Study acolades</h5>
			      <p class="card-text">From high schools in New Zealand and Thailand, to the University of Otago.</p>
			      <!-- Button trigger modal -->
					<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
					  Acolades
					</button>
					<!-- Modal -->
					<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
					  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
					    <div class="modal-content">
					      <div class="modal-header">
					        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
					        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
					          <span aria-hidden="true">&times;</span>
					        </button>
					      </div>
					      <div class="modal-body">
					        <p>Text goes here</p>
					      </div>
					      <div class="modal-footer">
					        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					      </div>
					    </div>
					  </div>
					</div>
			    </div>
			  </div>
			  <div class="card">
			    <img src="{% static 'pics/sport.jpg' %}" class="card-img-top" alt="Sports icon">
			    <div class="card-body">
			      <h5 class="card-title">Sporting acheivements</h5>
			      <p class="card-text">From a young age, I have accumulated many sporting acheivements, honours and victories.</p>
			      <!-- Button trigger modal -->
					<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
					  Achievements
					</button>
					<!-- Modal -->
					<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
					  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
					    <div class="modal-content">
					      <div class="modal-header">
					        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
					        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
					          <span aria-hidden="true">&times;</span>
					        </button>
					      </div>
					      <div class="modal-body">
					        <p>Text goes here</p>
					      </div>
					      <div class="modal-footer">
					        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					      </div>
					    </div>
					  </div>
					</div>
					<!--
			      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
			  -->
			    </div>
			  </div>
			</div>
		</div>


	</header>

	

	<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>